{% include "tickets/layout.html" %}

{% block body %}
    <main class="ticket-body">
        <div class="entity-body">
            <div class="central-long-section">
                <div class="section-border entity-body padding-top-bottom margin-bottom">
                    <span class="section-title">{{ service.service }}</span>
                </div>
                <div class="section-border margin-bottom">
                        <div class="grey-title">Support groups</div>
                        <div>
                            {% if support_groups %}
                                {% for team in support_groups %}
                                    <div class="incident-number" style="margin:10px 10px;" onclick="redirectToTeam(this)">{{ team.code }}</div>
                                {% endfor %}
                            {% else %}
                                <div class="no-record"><p>No records to display</p></div>
                            {% endif %}
                        </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
